@font-face{
    font-family: 'optimus';
    src: url(./fonts/ofont.ru_Optimus.ttf);
}
*{
    margin: 0 auto;
}
.optimus{
    font-family: 'optimus'
}
/* .ShantellSans-ExtraBold{
    font-family: 'ShantellSans-ExtraBold'
} */
/* .ShantellSans-LightItalic{
    font-family: 'ShantellSans-LightItalic';
} */
img{
    width : 600px;
    height : 300px;
    margin : 25px 450px;
}
body{
    background: url(./img/фон1.jpg) repeat;
    -moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    font-family: 'optimus';
    max-width: 1200px;
}

.text-aling{
    text-align: center;
}
.tekst_sleva_size_1_5em {
    text-align: left;
    width : 600px;
    height : 300px;
    margin: 0 40px -340px;;
    font-size: 1.5em;
    color: red;
}
.tekst_sleva_size_1_3em {
    text-align: left;
    width : 600px;
    height : 300px;
    margin : -215px 0px;
    font-size: 1.3em
}
.square_markers{
    list-style-type: square;
}
.info{
    height : 80px;
    margin : 70px auto 10px;
    font-size: 2.3em;
}